$smallNavDuration: 0.25s;
$smallNavEasing: $ease-in-out-sine;
$navHeight: 135px;
$smallNavHeight:65px;
$reorganizeNavAt: 1100px;

header {
	@include transform( translateZ(0) );
	position: fixed;
	top:0; left:0; right:0;
	z-index: 11;
}

.header-logo {
	@include transition( $smallNavDuration all $smallNavEasing !important );
	position: absolute;
	top: 55px;
	display: block;
	width: 300px;
	background-size: contain;
	img { 
		visibility: hidden; 
		width:100%;
	}
}

@media screen and (min-width: $collapseNavAt) {
	.small-nav {
		.header-logo {
			top:8px;
		}
	}
}

@media screen and (max-width: $collapseNavAt) {
	.header-logo { 
		position: static; 
		margin: 10px auto;
		max-width: 70%;
	}
	
	header { 
		position: absolute;
		background: #fff; 
	}
}