.primary-bg { background: $primaryColor; }
.secondary-bg { background: $secondaryColor; }
.lighter-secondary-bg { 
	background: lighten($secondaryColor,20); 
	color: $darkBackgroundContentColor;
}

@import "site/search_form";

/* modules */
.page-wrapper {
	padding-top: $navHeight;
	
	@media screen and (max-width: $reorganizeNavAt) and (min-width: $collapseNavAt) {
		padding-top: 120px;
	}
	
	@media screen and (max-width: $collapseNavAt) {
		padding-top: 75px;
	}
		
}

.featured-item {
	text-align:center;
	
	.hgroup:after { display: none; }
	
	.featured-item-title,
	.featured-item-head {
		color: $secondaryColor;
		font-weight:normal;
	}
	
	.featured-item-title {
		text-transform:uppercase;
		
		&:after {
			content:"\2026";
			display: block;
			text-align:center;
			font-size:56px;
			line-height:18px;
			padding: 0 0 10px;
			
			@media screen and (max-width: 850px) { text-align:left; }
		}
	}
	
	p {
		font-weight:300;
		margin-bottom: 15px;
	}
	
	.button {
		left:15px; right: 15px;
	}
	
}

.cat-items {}

.cat-item {
	text-align:center;
	border: 4px solid #606060;
	height:250px;
	position:relative;
	background: url(../images/cat-bg.png) 0 0 repeat;
}

.cat-item-ico {
	position: absolute;
	width:100px; height: 100px;
	top: 50%; left: 50%;
	background-size:contain;
	margin: -50px 0 0 -50px;
}

.cat-item-title {
	color: #fff;
	background: #606060;
	display: block;
	text-align:center;
	padding: 5px;
	text-transform: uppercase;
	position:absolute;
	bottom:0; left:0; right:0;
}

.cat-item-blue { 
	border-color: #4c81a6;
	.cat-item-title { background:#4c81a6;}
}
.cat-item-green {
	border-color: #327644;
	.cat-item-title { background:#327644;}
}
.cat-item-red {
	border-color: #9e3232;
	.cat-item-title { background:#9e3232;}
}

.excerpt {
	margin: 10px auto 50px;
	padding: 0 0 20px;
	line-height: 32px;
	max-width: 100%;
	width: 780px;
	font-weight:300;
	color: #949494;
	text-align:center;
	font-size: 22px;
	position: relative;
	
	.d-bg &,
	.dark-bg & { color: #fff; }
}

.article-list {
	counter: article;
}

.article-list-item {
	@include display( flex );
	counter-increment: article;
	position: relative;
	
	&:before {
		@include flex( 0 0 auto );
		@include align-self( flex-start );
		background: $secondaryColor;
		color: #fff;
		border-radius: $buttonBorderRadius;
		text-align:center;
		padding: 10px;
		line-height:1;
		font-size: 16px;
		min-width: 40px;
		content: counter(article);
		margin-right: 20px;
		
	}

	+ .article-list-item {
		margin-top: 30px;
		padding-top: 20px;
		
		&:after {
			content:"";
			position: absolute;
			top:0; left: 60px; right:0;
			border-top: 1px solid rgba(0,0,0,0.2);	
		}
		
	}

}

.article-time {
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	color: #898989;
	margin: 0 0 20px;
}

.article-title {
	text-transform: none;
	font-size: 22px;
	a {
		color: #626262;
		&:hover { color: $primaryColor; }
	}
	
}

.article-excerpt {
	color: #898989;
	font-size: 16px;
	font-weight:300;
}

/* sidebar */
.sidebar {
	
	.mod-title {
		color: #fff;
		font-weight:400;
		background: lighten($secondaryColor,20);
		text-transform: uppercase;
		margin:0;
		padding: 14px;
	}
	
	.acc-mod {
	}
	
}

/* testimonial */
.testimonial {
	text-align: center;
	
	blockquote {
		font-size: 18px;
		font-weight:300;
	}
	
	cite {
		display: block;
		padding: 8px;
		font-style: italic;
		font-size: 12px;
	}
}

/* error404 */
.error404-body {
	height: 100vh;
	min-height: 500px;
	max-height: 800px;
	position: relative;
	
	>.sw {
		@include display( flex );
		@include flex-flow( column nowrap );
		@include justify-content( space-between );
		position: absolute;
		top:40px; left:0; right:0; bottom:40px;
		text-align:center;
		color: #fff;
	}
	
	span {
		font-size: 28px;
		display: block;
		font-weight:300;
	}
}

/* single item page */
.single-item-content {
	.hgroup:after { display: none; }
}

.single-item-thumb {
	img { display: block; margin: 0 auto 20px; }
}

.single-item-content {
	position: relative;
	
	.hgroup {
		text-align:left;
		&:after { display: none; }
	}
	
	p {
		font-size: 16px;
	}

}

.single-item-meta {
	position: absolute;
	top:0; right:0;
}

.single-item-title { font-size: 50px; }
.single-item-subtitle { font-size: 24px; }

/* request information */
.request-information {
	font-weight:300;
}

.request-information-form {
	textarea {
		height: auto;
		margin:0;
	}
}

.article-body {
	font-weight:300;
}

/* contact page */
.contact-map-wrap {
	position: relative;
	&:after {
		content:"";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		z-index: 2;
	}
	.sw { z-index: 3; }
}

.contact-map {
	@include transition( opacity 0.2s $ease-in-out-sine );
	position: absolute;
	top:0; right:0; bottom:0; left:0;
	z-index: 1;
	background: $secondaryColor;
	opacity:0;
	&.ready { opacity:1; }
	>div {
		background: $secondaryColor;
	}
}

.contact-grid {
	@include display( flex );
	@include align-items( center );
}

.contact-grid-form {
	@include flex( 0 0 620px );
	width: 620px;
	
	.selector {
		margin:0;
		background: $fieldBackgroundColor;
		&:after { 
			border:none; 
			color: $fieldPlaceHolderColor;
			background: transparent;
		}
		.value { 
			font-size: 14px;
			color: $fieldPlaceHolderColor !important;
			background: #fff;
			padding:16px; 
		}
	}
}

.contact-info {
	@include flex( 1 1 auto );
	text-align:center;
	font-weight:300;
	padding-left: 20px;
	
	address {
		margin: 15px 0;
		font-weight: 400;
	}
}

.dealfinder-marker {
	@include transform( translate3d(0,-50%,0) );
	position: absolute;
	width: 73px; height: 108px;
	background: url(../images/map-marker.png) center no-repeat;
}

@media screen and (max-width: 900px) {
	.contact-grid { display: block; }
	.contact-grid-form { width: auto; }
	.contact-info { padding-left:0; }
}

/* overview grid */
.ov-grid {
	.col {
		@include flex( 1 1 33.3333% );
		width: 33.3333%;
		
		@media screen and (max-width: 950px) {
			@include flex( 1 1 50% );
			width: 50%;		
		}
		
		@media screen and (max-width: 650px) {
			@include flex( 1 1 100% );
			width: 100%;
		}
		
	}
	
	@media screen and (max-width: 650px) {
		margin: 0 -2.5% !important;
	}
	
	.item:before,
	.hgroup,
	.ov-hover {
		@include transition( 0.2s all $ease-in-out-sine );
	}
	
	.hgroup,
	.ov-hover {
		@include transform( translate3d(0,50px,0) );
	}
	
	.item {
		text-align:center;
		position: relative;
		padding: 50px 20px;
		overflow:hidden;
		&:before {
			content:"";
			position: absolute;
			top:0; left:0; right:0; bottom:0;
			background: rgba($primaryColor,0.75);
			z-index: -1;
		}
		
		.lazybg {
			position: absolute;
			top:0; left:0; right:0; bottom:0;
			z-index: -2;
		}
		
		.hgroup:after {
			margin-bottom: 5px;
			height: 1px;
		}
		
		&:hover {
		
			&:before { background: $primaryColor; }
		
			.hgroup,
			.ov-hover {
				@include transform( none );
				opacity:1;
			}
		}
	}
	
	p {
		font-weight:300;
		font-size: 14px;
		max-width: 80%;
		margin: 0 auto;
		min-height: 60px;
	}
	
	.ov-hover { opacity:0; }
	
	.button { 
		background: transparent !important; 
		color: #fff !important;
		border-color: #fff !important;
		font-weight:300;
		padding: 8px 24px;
	}
	
}

/* faqs */
.faq-item { 
	padding: 15px 15px 30px;
	position: relative;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	
	.expand {
		position: absolute;
		bottom:0; left:0; right:0;
		z-index: 4;
		font-size: 28px;
		line-height: 32px;
		display: none;
		text-align:center;
		
		&:hover {
			color: #fff;
			background: lighten($secondaryColor,20); 
		}
		
		&:before { 
			content: $fa-var-angle-down; 
		}
		
	}
}

.faq-head { 
	margin: -15px -15px 0;
	padding: 15px;
	text-align:center;
	font-size: 18px;
	position: relative;
	z-index: 2;
}

.faq-body { 
	padding: 15px 15px 0;
	font-size: 14px;
	font-weight:300;
	z-index: 1;
	
	&:before {
		content:"";
		display: none;
		position: absolute;
		z-index: -1;
		left: -15px; top: -15px; right: -15px; bottom: -30px;
		box-shadow: 0 0 4px rgba(0,0,0,0.2);
	}
	
	.p-wrap {
		position: relative;
		max-height: 170px;
		overflow: hidden;
		.expanded & { max-height: none; }
	}
	
	.truncated & {
		padding-bottom: 15px;
		p:after {
			content:"\2026";
			position: absolute;
			bottom:0; right:0;
			background: #fff;
			width: 22px;
			font-size: 20px;
			line-height:1;
			text-align:right;
		}
		
		.expand { display: block; }
	}
	
	.expanded & {
		p:after { display: none !important; }
		.expand:before { content: $fa-var-angle-up !important; }
	}
	
	
}